---
interface Props {
  checked?: boolean;
}

const { checked = false } = Astro.props;

const inputId = `checklist-item-${Math.random().toString(36).slice(2, 10)}`;
---

<li class="docs-checklist-item">
  <label class="docs-checklist-label" for={inputId}>
    <input id={inputId} class="docs-checklist-input" type="checkbox" checked={checked} />
    <span class="docs-checklist-copy">
      <slot />
    </span>
  </label>
</li>
